/* Non-mobile */
@media only screen and (min-width: 640px) {
  .logo {
    display: inline;
    padding: 0;
  }

  nav {
    margin-top: 0;
    margin-bottom: 8px;
    padding: .5rem 1rem;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  ul.nav-list {
    border: none;
    display: inline-block;
    background-color: transparent;
    position: absolute;
  }

  img.thumbstrip {
    display: block;
    overflow: hidden;
    max-width: 100vw;
  }
}

@media only screen and (min-width: 832px) {
  section.desktop-832 {
    display: inline-block;
    width: 22%;
    float: right;
    position: absolute;
  }

  .sidebar-img {
    max-width: 100%;
  }

  input.desktop-832 {
    display: inline-block!important;
    font-size: .875rem;
    line-height: 1.25rem;
    border: 1px solid rgba(0,0,0,.2);
    padding: .3125rem .625rem;
    margin-top: .1rem;
    margin-left: 2.5rem;
  }

  .post-container {
    display: inline-block;
    width: 60%;
  }

  .sidebar-title {
    margin: .67em .5em;
  }

  .list_img {
    max-width: 100%;
  }

  .page-wrapper {
    max-width: 1000px;
    width: 100vw;
    margin: auto;
  }

  h1 {
    font-size: 2.625rem;
  }

  nav {
    border: none;
  }

  .social_media {
    display: block;
    max-width: 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  li.desktop {
    display: inline;
  }

}